{% extends 'base.html' %}
<!-- will this keep it on another line -->
{% block content %}
<!-- This line overwrites what's in this block on base.html -->
<h2>This is my homepage with my Magic cards</h2>
<p>This is index.html</p>
<!-- I'm going to get rid of this, but it lets me know 
what template is rendering. -->
<h3>Here are the cards I own</h3>
{% for card in cards %}
<li>{{ card }}</li>
{% empty %}
<p>No cards yet :(</p>
{% endfor %}
<br />
<!-- <a href="{% url 'create-card' %}">Add Card</a> -->

<h2>
  This is create_card.html where I'm going to render my form for creating cards
</h2>
<h3>Here is the create card form</h3>
<form id="create-form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Save</button>
</form>
{% endblock %}
